.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slider-container label {
    margin: 5%;
}

.slider-container span {
    margin: 5%;
}

.slider-container input {
    margin-right: 10px;
}

.slider-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}