.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.slider-container label {
    margin-bottom: 10px;
}

.slider-container span {
    margin-top: 10px;
}

.slider-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}